uvicorn~=0.34.0
unidiff~=0.7.5

# 添加 OpenManus 包的依赖
git+https://github.com/Adolmeal/OpenManus.git@main#egg=openmanus
#添加DeepSeek-V3包的依赖
torch==2.4.1
triton==3.0.0
transformers==4.46.3
safetensors==0.4.5

# 添加其他必要的依赖
pyfluent
